examples/action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="http://zedstar.org/xml/schema/packedobjectsDataTypes.xsd" />
<xs:element name="action">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="movie-name" type="string"/>
      <xs:element name="release-date">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element name="year" type="integer"/>
	    <xs:element name="month" type="integer"/>
	    <xs:element name="day" type="integer"/>
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
      <xs:element name="director" type="string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>